#Covid-19 Pre-existing Medical Condition Analysis using Plotly Express, Choropleth maps and WordCloud Text Visualization

In [24]:
## Switch to GPU mode for faster Computation (Runtime> Change runtime> GPU)

##Task 1 : Importing all the necessary libraries

In [25]:
import pandas as pd       #Data analysis and Manipulation
import plotly.express as px    #Data Visualization (one line of code for one graph) 
import matplotlib.pyplot as plt   #Data Visualization for WordCloud
from wordcloud import WordCloud   #Wordcloud Text Visualization

In [38]:
import plotly.io as pio
pio.renderers.default = 'iframe'     # To initialize plotly (default mode of plotly if OFF as it consumes a lot of space)

##Task 2 : Importing the dataset and Visualizing it (Dataset 1 : Worldometer dataset)

In [39]:
covid_df = pd.read_csv('covid_worldometer_data.csv')

In [40]:
medical_df = pd.read_csv('US_medical_data.csv')

In [41]:
covid_df.head()

,S.no,Country,TotalCases,TotalDeaths,Total Recovered,Active cases,Totalcases/1M,TotalDeath/1M,iso_alpha
0,1,USA,"23,848,410","397,994","14,112,119","9,338,297","71,822","1,199",USA
1,2,India,"10,528,508","151,954","10,162,738","213,816","7,589",110,IND
2,3,Brazil,"8,326,115","207,160","7,339,703","779,252","39,021",971,BRA
3,4,Russia,"3,495,816","63,940","2,882,044","549,832","23,949",438,RUS
4,5,UK,"3,260,258","86,015","1,406,967","1,767,276","47,890","1,263",UKR

In [30]:
covid_df.describe()

             S.no
count  221.000000
mean   111.000000
std     63.941379
min      1.000000
25%     56.000000
50%    111.000000
75%    166.000000
max    221.000000

In [42]:
covid_df

,S.no,Country,TotalCases,TotalDeaths,Total Recovered,Active cases,Totalcases/1M,TotalDeath/1M,iso_alpha
0,1,USA,"23,848,410","397,994","14,112,119","9,338,297","71,822","1,199",USA
1,2,India,"10,528,508","151,954","10,162,738","213,816","7,589",110,IND
2,3,Brazil,"8,326,115","207,160","7,339,703","779,252","39,021",971,BRA
3,4,Russia,"3,495,816","63,940","2,882,044","549,832","23,949",438,RUS
4,5,UK,"3,260,258","86,015","1,406,967","1,767,276","47,890","1,263",UKR
...,...,...,...,...,...,...,...,...,...
216,217,Wallis and Futuna,4,,1,3,359,NaN,WLF
217,218,Samoa,2,,2,0,10,NaN,WSM
218,219,Micronesia,1,,NaN,1,9,NaN,FSM
219,220,Vanuatu,1,,1,0,3,NaN,VUT
220,221,China,"87,988","4,635","82,352","1,001",61,3,CHN

In [63]:
covid_df.loc[:,'TotalCases']

0      23,848,410
1      10,528,508
2       8,326,115
3       3,495,816
4       3,260,258
          ...
216             4
217             2
218             1
219             1
220        87,988
Name: TotalCases, Length: 221, dtype: object

In [65]:
covid_df['TotalCases']

0      23,848,410
1      10,528,508
2       8,326,115
3       3,495,816
4       3,260,258
          ...
216             4
217             2
218             1
219             1
220        87,988
Name: TotalCases, Length: 221, dtype: object

In [56]:
px.bar(covid_df.head(20), x='Country', y='TotalCases',color='Country')

In [54]:
px.bar(covid_df.head(20), x = 'Country', y = 'TotalDeaths',color = 'Country')

In [45]:
covid_df.columns

Index(['S.no', 'Country', 'TotalCases', 'TotalDeaths', 'Total Recovered',
       'Active cases', 'Totalcases/1M', 'TotalDeath/1M', 'iso_alpha'],
      dtype='object')

In [47]:
px.scatter(covid_df.head(15),x='Totalcases/1M', y='TotalDeath/1M', color='Country')

##Task 3: Geographic Visualization using Choropleth maps

In [36]:
# A choropleth map displays divided geographical areas or regions that are coloured, shaded or patterned in relation to a data variable. 
#Amazing Representation of data in a map . Choropleth maps provide an easy way to visualize how a measurement varies across a geographic area.

#Dataset 1
#parameters= dataset, locations= ISOALPHA, color, hover_name, color_continuous_scale= [RdYlGn, Blues, Viridis...], 
#

##Task 4: Importing and Analyzing the dataset(Dataset 2: Covid-19 Pre-existing condition Medical dataset; source: CDC,US)

##Task 5: Visualizing the Pre-existing condition Medical dataset

##Task 6: WordCloud Text Visualization

In [37]:
#Step a= Convert the columns with conditions and condition group into list using tolist() function
#Step b= Convert the list to one single string
#Step c= Convert the string into WordCloud
# WordCloud imported in task 1. # WordCloud visualization needs matplotlib

###WordCloud 1- Condition group

###WordCloud 2- Conditions